*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.hide {
  display: none;
}

// ***** Header *****
.header {
  padding: 20px 0;
  // margin-bottom: 20px;
  background-color: #378ba4;
  color: #fff;
  box-shadow: 0 2px 8px 2px #747674;
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.3rem;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__role {
    font-size: 1.2rem;
    text-decoration: underline;
  }
  &__btn {
    padding: 0;
    margin: 0;
    width: 45px;
    height: 45px;
    background-color: #378ba4;
    border: 2px solid #378ba4;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      background-color: #036280;
      border-color: #036280;
    }
  }
}

// ***** Auth *****
.auth {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__image {
    width: 60%;
  }
}

// ***** Form *****
.form {
  width: 300px;
  padding: 15px;
  border: 1px solid #378ba4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fb;
  color: #000;
  box-shadow: 0 0 10px 5px #d2d2d4;
  position: relative;
  animation: showForm 0.5s linear;
  &--change {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  &--addload {
    width: 100%;
    max-width: 500px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__input {
    margin-bottom: 15px;
    padding: 5px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #f8f9fb;
    border: none;
    border-bottom: 2px solid #d2d2d4;
    outline: none;
  }
  &__textarea {
    margin-bottom: 15px;
    padding: 5px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #f8f9fb;
    border: 2px solid #d2d2d4;
    resize: none;
    outline: none;
  }
  &__select {
    padding: 3px 0;
    width: 90px;
    border: 1px solid #012e4a;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    &--type {
      width: 200px;
    }
    &--load {
      margin-left: 10px;
      width: 110px;
    }
  }
  &__btn {
    margin: 15px 0;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #378ba4;
    color: #fff;
    border: 2px solid #378ba4;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      color: #378ba4;
      background-color: #f8f9fb;
    }
  }
  &__text {
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    span {
      color: #378ba4;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes showForm {
  0% {
    top: -15px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

// ***** User Menu *****
.usermenu {
  list-style: none;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 10;
  background-color: #f8f9fb;
  border-radius: 10px;
  border: 2px solid #036280;
  overflow: hidden;
  &__item {
    padding: 10px;
    &:hover {
      background-color: #e8ede7;
    }
  }
  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
  }
}

// ***** Modal *****
.modal {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  &.active {
    transform: scale(1);
  }
  &__content {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    position: relative;
  }
  &__name {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}

.close__btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: #fd292f;
  transition: all 0.1s linear;
  &:hover {
    background-color: #fd292f;
    color: #f4f7fc;
  }
}

// ***** Main *****
.main {
  display: flex;
  justify-content: space-between;
}

.aside {
  padding: 20px;
  width: 300px;
  min-height: calc(100vh - 85px);
  border-right: 2px solid #378ba4;
  border-left: 2px solid #378ba4;
  &__info {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #d2d2d4;
  }
  &__img {
    width: 120px;
    border-radius: 5px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    span {
      font-weight: 500;
    }
  }
}

.table {
  padding: 20px;
  width: calc(100% - 300px);
  border-right: 2px solid #378ba4;
  &__inner {
    position: relative;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.table__btn {
  padding: 10px 30px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #338309;
  color: #fff;
  border: 2px solid #338309;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: #338309;
    background-color: #f8f9fb;
  }
}

.truck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d2d2d4;
  &--header {
    background-color: #378ba4;
    color: #fff;
    font-weight: 600;
    border-top: 2px solid #d2d2d4;
  }
  &--row {
    position: relative;
  }
  &--assigned {
    background-color: #aec670;
  }
  &__info {
    margin: 0 auto;
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  &__menu {
    padding: 10px;
    border-top: 2px solid #d2d2d4;
  }
  &__type {
    padding: 10px;
    text-align: center;
    width: 25%;
    border-left: 2px solid #d2d2d4;
    border-right: 2px solid #d2d2d4;
  }
  &__payload {
    padding: 10px;
    text-align: center;
    width: 25%;
    border-right: 2px solid #d2d2d4;
  }
  &__status {
    padding: 10px;
    text-align: center;
    width: 25%;
    border-right: 2px solid #d2d2d4;
  }
  &__assigned {
    position: relative;
    padding: 10px;
    text-align: center;
    width: 25%;
    min-width: 280px;
    border-right: 2px solid #d2d2d4;
  }
}

.truck__del {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.truck__btn {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  transform: translateY(-50%);
  padding: 3px 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #338309;
  color: #fff;
  border: 2px solid #338309;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: #338309;
    background-color: #f8f9fb;
  }
}

.truck__buttons {
  display: flex;
}

.nav__btn {
  margin-bottom: 20px;
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #378ba4;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  &:hover {
    // background-color: #5facc4;
    text-decoration: underline;
  }
  &--active {
    background-color: #036280;
    font-weight: 700;
    text-decoration: underline;
  }
}

// ***** Card *****
.cards__block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}
.card {
  position: relative;
  overflow: hidden;
  padding: 20px 30px 20px 20px;
  width: calc(50% - 10px);
  border: 2px solid #d2d2d4;
  border-radius: 5px;
  &--assigned {
    background-color: #e8ede7;
  }
  &--assigned::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #338309;
    border-left: 20px solid #338309;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
  }
  &--shipped {
    background-color: #d2d2d4;
    opacity: 0.8;
  }
  &__del {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  &__btn {
    margin-top: 10px;
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #338309;
    color: #fff;
    border: 2px solid #338309;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      background-color: #fff;
      color: #338309;
    }
    &:disabled {
      background-color: #747674;
      border-color: #747674;
      opacity: 0.5;
      cursor: auto;
      &:hover {
        color: #fff;
      }
    }
  }
  &__name {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    span {
      color: #036280;
      font-style: italic;
    }
  }
  &__link {
    color: #747674;
    font-size: 0.9rem;
    font-style: italic;
    &:hover {
      opacity: 0.7;
    }
  }
  &__info {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #d2d2d4;
  }
}

// ***** Driver Active Load *****
.activeload {
  &__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__block {
    padding-bottom: 10px;
    border-bottom: 2px solid #d2d2d4;
  }
  &__btn {
    padding: 8px 15px;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #338309;
    color: #fff;
    border: 2px solid #338309;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1 linear;
    &:hover {
      background-color: #fff;
      color: #338309;
    }
  }
}

// ************ Media ****************
// ***********************************
@media (max-width: 1199.98px) {
  .aside {
    display: none;
  }
  .table {
    padding: 20px 0;
    width: 100%;
    border: none;
  }
}

@media (max-width: 899.98px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .auth {
    flex-direction: column;
    &__image {
      width: 100%;
    }
  }
  .header__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 499.98px) {
  .form {
    max-width: 100%;
  }
  .header__title {
    font-size: 1.5rem;
  }
  .card {
    padding: 10px 30px 10px 10px;
    &__name {
      font-size: 0.9rem;
    }
    &--assigned::after {
      border-width: 13px;
    }
  }
  .modal__content {
    padding: 15px;
  }
  .modal__name {
    font-size: 1.2rem;
  }
  .modal__text {
    margin-bottom: 5px;
    font-size: 1rem;
  }
  .filter__label {
    display: none;
  }
  .table__btn {
    padding: 10px;
  }
  .form__select--load {
    font-size: 0.8rem;
  }
}
