*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.hide {
  display: none;
}

// ***** Header *****
.header {
  padding: 20px 0;
  // margin-bottom: 20px;
  background-color: #378BA4;
  color: #fff;
  box-shadow: 0 2px 8px 2px #747674;
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.3rem;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__role {
    font-size: 1.2rem;
    text-decoration: underline;
  }
  &__btn {
    padding: 0;
    margin: 0;  
    width: 45px;
    height: 45px;
    background-color: #378BA4;
    border: 2px solid #378BA4;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {    
      background-color: #036280;
      border-color: #036280;
    }
  }
}

// ***** Auth *****
.auth {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__image {
    width: 60%;
  }
}

// ***** Form *****
.form {
  width: 300px;
  padding: 15px;
  border: 1px solid #378BA4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #F8F9FB;
  color: #000;
  box-shadow: 0 0 10px 5px #D2D2D4;
  position: relative;
  animation: showForm 0.5s linear;
  &--change {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  &--addload {
    width: 100%;
    max-width: 500px;
  }
  &__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  &__input {
    margin-bottom: 15px;
    padding: 5px 0; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #F8F9FB;
    border: none;
    border-bottom: 2px solid #D2D2D4;
    outline: none;
  }
  &__textarea {
    margin-bottom: 15px;
    padding: 5px 0; 
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #F8F9FB;
    border: 2px solid #D2D2D4;
    resize: none;
    outline: none;
  }
  &__select {
    padding: 3px 0;
    width: 90px;
    border: 1px solid #012E4A;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    &--type {
      width: 200px;
    }
  }
  &__btn {
    margin: 15px 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #378BA4;
    color: #fff;
    border: 2px solid #378BA4;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
      color: #378BA4;
      background-color: #F8F9FB;
    }
  }
  &__text {
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    span {
      color: #378BA4;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }    
  }
}

@keyframes showForm {
  0% {
    top: -15px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
} 

// ***** User Menu *****
.usermenu {
  list-style: none;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 1;
  background-color: #F8F9FB;
  border-radius: 10px;
  border: 2px solid #036280;
  overflow: hidden;
  &__item {
    padding: 10px;
    &:hover {
      background-color: #E8EDE7;
    }
  }
  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
  }
}

// ***** Modal *****
.modal {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  &.active {
    transform: scale(1);
  }
  &__content {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    position: relative;
  }
  &__name {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
}

.close__btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: #FD292F;
  transition: all 0.1s linear;
  &:hover {
    background-color: #FD292F;
    color: #f4f7fc;
  }
}

// ***** Main *****
.main {
  display: flex;
  justify-content: space-between;
}

.aside {
  padding: 20px;
  width: 300px;
  min-height: calc(100vh - 85px);
  border-right: 2px solid #378BA4;
  border-left: 2px solid #378BA4;
  &__info {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #D2D2D4;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    span {
      font-weight: 500;
    }
  }
}

.table {
  padding: 20px;
  width: calc(100% - 300px);
  border-right: 2px solid #378BA4; 
  &__inner {
    position: relative;
  } 
}

.table__btn {
  padding: 10px 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #338309;
  color: #fff;
  border: 2px solid #338309;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: #338309;
    background-color: #F8F9FB;
  }
}

.truck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #D2D2D4;
  &--header {
    background-color: #378BA4;
    color: #fff;
    font-weight: 600;
    border-top: 2px solid #D2D2D4;
  }
  &--row {
    position: relative;
  }
  &--assigned {
    background-color: #AEC670;
  }
  &__info {
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  &__menu {
    padding: 10px;
    border-top: 2px solid #D2D2D4;
  }
  &__type {
    padding: 10px;
    text-align: center;
    width: 25%;
    border-left: 2px solid #D2D2D4;
    border-right: 2px solid #D2D2D4;
  }
  &__payload {
    padding: 10px;
    text-align: center;
    width: 25%;
    border-right: 2px solid #D2D2D4;
  }
  &__status {
    padding: 10px;
    text-align: center;
    width: 25%;
    border-right: 2px solid #D2D2D4;
  }
  &__assigned {
    position: relative;
    padding: 10px;
    text-align: center;    
    width: 25%;
    min-width: 280px;
    border-right: 2px solid #D2D2D4;
  }
}

.truck__del {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.truck__btn {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  transform: translateY(-50%);
  padding: 3px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #338309;
  color: #fff;
  border: 2px solid #338309;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    color: #338309;
    background-color: #F8F9FB;
  }
}

.truck__buttons {
  display: flex;
  // gap: 1px;
}

.nav__btn {
  margin-bottom: 20px;
  width: 50%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #378BA4;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  &:hover {
    // background-color: #5facc4;
    text-decoration: underline;
  }
  &--active {
    background-color: #036280;
    font-weight: 700;
    text-decoration: underline;
  }
}

// ***** Loads *****
.loads__header, .loads__row {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  text-align: center;
}
.loads__header {
  .loads__char {
    padding: 10px 0;
    border-top: 2px solid #D2D2D4;
    font-weight: 600;
    background-color: #378BA4;
    color: #fff;
  }
}

.loads__row {
  cursor: pointer;
}

.loads__row--assigned {
  background-color: #AEC670;
}

.loads__row--shipped {
  background-color: #e3e3e6;
  opacity: 0.9;
}

.loads__char {
  font-weight: 600;
  background-color: #378BA4;
  color: #fff;
}

.loads__dir {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loads__things {
  width: 20%;
  border-left: 2px solid #D2D2D4;
  border-right: 2px solid #D2D2D4;
  border-bottom: 2px solid #D2D2D4;
}

.loads__address {  
  width: 30%;
  border-right: 2px solid #D2D2D4;
  border-bottom: 2px solid #D2D2D4;
}

.loads__status {
  position: relative;
  width: 20%;
  min-width: 200px;
  border-right: 2px solid #D2D2D4;
  border-bottom: 2px solid #D2D2D4;
}

.loads__info {
  padding: 10px;
  border-left: 2px solid #D2D2D4;
  border-right: 2px solid #D2D2D4;
  border-bottom: 2px solid #D2D2D4;
}

.loads__text {
  font-weight: 600;
  margin-bottom: 5px;
  span {
    font-weight: 400;
  }
}

// ***** Driver Active Load *****
.activeload {  
  &__title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &__subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__block {
    padding-bottom: 10px;
    border-bottom: 2px solid #D2D2D4;
  }
  &__btn {
    padding: 8px 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #338309;
    color: #fff;
    border: 2px solid #338309;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1 linear;;
    &:hover {
      background-color: #fff;
      color: #338309;
    }
  }
}